@require '../../style/variables'
@require '../../style/functions'

.BngoSlotInput

  &_bungo
    margin-bottom: 5px

  &_card
    margin-bottom: 10px

  &_label
    color: #fff
    font-size: $base-font-size - 1rem
    margin-bottom: 2px

  &_status
    display: flex

    &_box
      flex: 0 1 3.5em
      margin-right: 3px

    &_name
      background-color: rgba(#fff, 0.5)
      display: block
      font-size: $base-font-size - 1rem
      padding: 3px 0
      text-align: center

    &_input
      width: 100%
