<div class="BngoSlotInput">
  <div class="BngoSlotInput_bungo">
    <select ref="bungo" :value="bungo" @change="setBungo">
      <option disabled value="">文豪</option>
      <optgroup v-for="(bungos, weapon) in groupedBungoData" :key="weapon" :label="weaponsData[weapon].label">
        <option v-for="(bungo, id) in bungos" :key="id" :value="id">
          {{ bungo.name }}
        </option>
      </optgroup>
    </select>
  </div>

  <div class="BngoSlotInput_card">
    <select ref="cardId" :value="cardId" @change="setCardId">
      <option disabled value="">装像</option>
      <optgroup v-for="(cards, rare) in groupedCardsData" :key="rare" :label="rare | starify">
        <option v-for="(card, id) in cards" :key="id" :value="id">
          {{ card.name }}
        </option>
      </optgroup>
    </select>

    <select v-if="cardId" ref="cardLv" :value="cardLv" @change="setCardLv">
      <option disabled value="">レベル</option>
      <option v-for="(status, lv) in cardsData[cardId].status" :key="lv" :value="lv">
        Lv.{{ lv }}{{ !status ? ' ※' : '' }}
      </option>
    </select>
  </div>

  <p class="BngoSlotInput_label">文豪のステータス（未入力可）</p>
  <div class="BngoSlotInput_status">
    <label v-for="(label, statusKey) in statusData.base" :key="statusKey" class="BngoSlotInput_status_box">
      <span class="BngoSlotInput_status_name">{{ label }}</span>
      <input
        :ref="statusKey"
        :value="$props[statusKey]"
        type="number"
        min="1"
        @input="setBaseStatus(statusKey, $event)"
      >
    </label>
  </div>
</div>
