<div class="BngoSlotDisplay">
  <div class="BngoSlotDisplay_info">
    <div class="BngoSlotDisplay_info_bungo">
      {{ bungo ? `【${weaponsData[selectedBungo.weapon].label}】${selectedBungo.name}` : '' }}
    </div>
    <div class="BngoSlotDisplay_info_card">
      <template v-if="state.cardId && state.cardLv">
        <span class="bold">{{ selectedCard.rare | starify }} {{ selectedCard.name }}</span>　Lv.{{ cardLv }}
        <span v-if="!cardsData[state.cardId].status[state.cardLv]" class="text-small">※</span>
      </template>
    </div>
  </div>

  <table class="BngoSlotDisplay_base">
    <tr>
      <th v-for="label in statusData.base">
        {{ label }}
      </th>
    </tr>
    <tr>
      <td v-for="(label, status) in statusData.base" :class="[ adjustedCardStatus[status] < 0 ? 'text-red' : 'text-blue' ]">
        {{ adjustedCardStatus[status] || '' | addSign }}
      </td>
    </tr>
  </table>

  <table class="BngoSlotDisplay_battle">
    <tr>
      <th v-for="label in statusData.battle">
        {{ label }}
      </th>
    </tr>
    <tr>
      <td v-for="(label, status) in statusData.battle">
        <span :class="[ increasedBattleStatus[status] < 0 ? 'text-red' : 'text-blue' ]">
          {{ !increasedBattleStatus[status] && increasedBattleStatus[status] !== 0 ? '' : increasedBattleStatus[status] | addSign }}
        </span>
        <span v-if="inputtedBattleStatus[status] && finalBattleStatus[status]" class="text-small">
          <template v-if="inputtedBattleStatus[status] === finalBattleStatus[status]">
            ({{ finalBattleStatus[status] }})
          </template>
          <template v-else>
            ({{ inputtedBattleStatus[status] }}→{{ finalBattleStatus[status] }})
          </template>
        </span>
      </td>
    </tr>
  </table>

  <table class="BngoSlotDisplay_skill">
    <tr>
      <th>追加効果</th>
      <td>
        {{ cardId && cardLv && selectedCard.skill ? selectedCard.skill[cardLv] : '' }}
      </td>
    </tr>
  </table>
</div>
