
@media screen and (min-width: 751px) {
.BnalSouzouCalc_tab[data-v-602b1f34] {
    display: none;
}
}
@media screen and (max-width: 750px) {
.BnalSouzouCalc_tab_num[data-v-602b1f34] {
    background-color: rgba(119,84,76,0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    margin-right: 1px;
    padding: 3px 3px 1px;
    vertical-align: bottom;
}
}
@media screen and (max-width: 750px) {
.BnalSouzouCalc_tab_num.sp-visible[data-v-602b1f34] {
    background-color: #77544c;
    padding-bottom: 4px;
}
}
@media screen and (max-width: 750px) {
.BnalSouzouCalc_tab_num span[data-v-602b1f34] {
    -ms-flex-align: center;
        align-items: center;
    background-color: #f5ece2;
    border: 2px solid #c1a34e;
    border-radius: 20px;
    box-sizing: border-box;
    color: #77544c;
    display: -ms-flexbox;
    display: flex;
    font-size: 17rem;
    font-weight: bold;
    height: 40px;
    -ms-flex-pack: center;
        justify-content: center;
    width: 40px;
}
}
@media screen and (min-width: 751px) {
.BnalSouzouCalc .BngoSlot[data-v-602b1f34] {
    margin-bottom: 20px;
}
}
@media screen and (max-width: 750px) {
.BnalSouzouCalc .BngoSlot[data-v-602b1f34] {
    display: none;
}
}
@media screen and (max-width: 750px) {
.BnalSouzouCalc .BngoSlot.sp-visible[data-v-602b1f34] {
    display: block;
}
}

.BngoSlot[data-v-5cd7de85] {
  background-color: #77544c;
  border: 1px solid #77544c;
  padding: 10px;
}
@media screen and (min-width: 751px) {
.BngoSlot[data-v-5cd7de85] {
    display: -ms-flexbox;
    display: flex;
}
}
@media screen and (max-width: 750px) {
.BngoSlot[data-v-5cd7de85] {
    position: relative;
}
}
@media screen and (min-width: 751px) {
.BngoSlot_left[data-v-5cd7de85] {
    -ms-flex: 0 1 33%;
        flex: 0 1 33%;
    margin-right: 10px;
}
}
.BngoSlot_left_order[data-v-5cd7de85] {
  -ms-flex-align: center;
      align-items: center;
  background-color: #f5ece2;
  border: 2px solid #c1a34e;
  border-radius: 20px;
  box-sizing: border-box;
  color: #77544c;
  display: -ms-flexbox;
  display: flex;
  font-size: 17rem;
  font-weight: bold;
  height: 40px;
  -ms-flex-pack: center;
      justify-content: center;
  width: 40px;
}
@media screen and (max-width: 750px) {
.BngoSlot_left_order[data-v-5cd7de85] {
    display: none;
}
}
@media screen and (min-width: 751px) {
.BngoSlot_left .BngoSlotInput[data-v-5cd7de85] {
    margin-top: 15px;
}
}
@media screen and (min-width: 751px) {
.BngoSlot_right[data-v-5cd7de85] {
    -ms-flex: 0 1 67%;
        flex: 0 1 67%;
}
}

.BngoSlotInput input[data-v-32605d1b],
.BngoSlotInput select[data-v-32605d1b] {
  font-size: 12rem;
}
.BngoSlotInput_bungo[data-v-32605d1b] {
  margin-bottom: 5px;
}
.BngoSlotInput_card[data-v-32605d1b] {
  margin-bottom: 10px;
}
.BngoSlotInput_label[data-v-32605d1b] {
  color: #fff;
  font-size: 12rem;
  margin-bottom: 2px;
}
.BngoSlotInput_status[data-v-32605d1b] {
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 750px) {
.BngoSlotInput_status[data-v-32605d1b] {
    margin-bottom: 10px;
}
}
.BngoSlotInput_status_box[data-v-32605d1b] {
  margin-right: 3px;
}
.BngoSlotInput_status_box[data-v-32605d1b]:last-child {
  margin-right: 0;
}
@media screen and (min-width: 751px) {
.BngoSlotInput_status_box[data-v-32605d1b] {
    -ms-flex: 0 1 3.5em;
        flex: 0 1 3.5em;
}
}
@media screen and (max-width: 750px) {
.BngoSlotInput_status_box[data-v-32605d1b] {
    -ms-flex: 0 1 20%;
        flex: 0 1 20%;
}
}
.BngoSlotInput_status_name[data-v-32605d1b] {
  background-color: rgba(255,255,255,0.5);
  display: block;
  font-size: 12rem;
  padding: 3px 0;
  text-align: center;
}
.BngoSlotInput_status input[data-v-32605d1b] {
  min-width: 0;
  width: 100%;
}

.BngoSlotDisplay table[data-v-6c851ada] {
  border-collapse: collapse;
  width: 100%;
}
.BngoSlotDisplay th[data-v-6c851ada],
.BngoSlotDisplay td[data-v-6c851ada] {
  border: 1px solid #77544c;
  height: 1em;
  text-align: center;
}
.BngoSlotDisplay th[data-v-6c851ada] {
  background-color: #fff;
  padding: 5px;
}
.BngoSlotDisplay td[data-v-6c851ada] {
  background-color: #f5ece2;
  font-size: 15rem;
  padding: 7px 5px;
}
.BngoSlotDisplay_info[data-v-6c851ada] {
  color: #f5ece2;
  padding: 5px;
  margin-bottom: 7px;
  text-align: center;
}
@media screen and (min-width: 751px) {
.BngoSlotDisplay_info[data-v-6c851ada] {
    -ms-flex-align: end;
        align-items: flex-end;
    display: -ms-flexbox;
    display: flex;
}
}
.BngoSlotDisplay_info_bungo[data-v-6c851ada] {
  font-size: 15rem;
  -ms-flex: 0 1 40%;
      flex: 0 1 40%;
  min-height: 1em;
}
.BngoSlotDisplay_info_card[data-v-6c851ada] {
  font-size: 15rem;
  -ms-flex: 0 1 60%;
      flex: 0 1 60%;
  min-height: 1em;
}
@media screen and (max-width: 750px) {
.BngoSlotDisplay_info_card[data-v-6c851ada] {
    margin-top: 7px;
}
}
.BngoSlotDisplay_base th[data-v-6c851ada],
.BngoSlotDisplay_base td[data-v-6c851ada] {
  width: 20%;
}
.BngoSlotDisplay_battle th[data-v-6c851ada],
.BngoSlotDisplay_battle td[data-v-6c851ada] {
  border-top: 0;
  width: 33%;
}
@media screen and (max-width: 750px) {
.BngoSlotDisplay_battle th span[data-v-6c851ada],
  .BngoSlotDisplay_battle td span[data-v-6c851ada] {
    display: block;
}
}
@media screen and (max-width: 750px) {
.BngoSlotDisplay_battle th span[data-v-6c851ada]:nth-child(2),
  .BngoSlotDisplay_battle td span[data-v-6c851ada]:nth-child(2) {
    margin-top: 3px;
}
}
.BngoSlotDisplay_skill[data-v-6c851ada] {
  margin-top: 10px;
}
.BngoSlotDisplay_skill th[data-v-6c851ada] {
  width: 40%;
}
.BngoSlotDisplay_skill td[data-v-6c851ada] {
  font-size: 13rem;
  width: 60%;
}
html {
  font-size: 6.25%;
}
body {
  background-color: #e4e4e4;
  font-family: sans-serif;
  font-size: 13rem;
}
body,
div,
th,
td,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
}
h1,
h2,
h3 {
  line-height: 1.5;
}
@media screen and (min-width: 751px) {
  h1 {
    font-size: 26rem;
  }
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: 22.099999999999998rem;
  }
}
@media screen and (min-width: 751px) {
  h2 {
    font-size: 19.5rem;
  }
}
@media screen and (max-width: 750px) {
  h2 {
    font-size: 16.900000000000002rem;
  }
}
@media screen and (min-width: 751px) {
  h3 {
    font-size: 15.6rem;
  }
}
@media screen and (max-width: 750px) {
  h3 {
    font-size: 14.3rem;
  }
}
p,
li {
  margin: 0;
  padding: 0;
  line-height: 1.7;
}
ul {
  margin-left: 1.5em;
}
a {
  color: #b71d1d;
}
select,
input {
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  vertical-align: bottom;
}
@media screen and (max-width: 750px) {
  select,
  input {
    height: 2em;
  }
}
input {
  padding: 2px;
}
@media screen and (max-width: 750px) {
  input {
    border-radius: 0;
  }
}
.bold {
  font-weight: bold;
}
.text-small {
  font-size: 0.8em;
}
.text-blue {
  color: #0b0bca;
}
.text-red {
  color: #d60909;
}
.ex-margin-top {
  margin-top: 10px;
}
.ex-margin-bottom {
  margin-bottom: 10px;
}
.wrapper {
  background-color: #fff;
  margin: 0 auto;
}
@media screen and (min-width: 751px) {
  .wrapper {
    max-width: 1000px;
    padding: 50px;
  }
}
@media screen and (max-width: 940px) {
  .wrapper {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 750px) {
  .wrapper {
    padding: 30px 0;
  }
}
@media screen and (min-width: 751px) {
  .header {
    margin: 0 30px 30px;
  }
}
@media screen and (max-width: 750px) {
  .header {
    margin: 0 10px 20px;
  }
}
.header h1 {
  margin-bottom: 20px;
}
.header_box {
  background-color: #f5ece2;
  border: 1px dotted #77544c;
  box-shadow: 0 0 0 4px #f5ece2;
  color: #484848;
  margin-top: 10px;
  padding: 5px 10px;
}
#app {
  background-color: #ccc;
  border-radius: 4px;
  padding: 20px;
}
.help {
  background-color: #f5ece2;
  border: 1px dotted #77544c;
  box-shadow: 0 0 0 4px #f5ece2;
  color: #484848;
  padding: 15px 10px;
}
@media screen and (min-width: 751px) {
  .help {
    margin: 50px 30px 0;
  }
}
@media screen and (max-width: 750px) {
  .help {
    margin: 30px 10px 10px;
  }
}
.help h2 {
  margin-bottom: 20px;
}
.help h3 {
  margin-bottom: 15px;
}
.help ul {
  margin-bottom: 5px;
  margin-top: 5px;
}
.help_paragraph {
  margin-bottom: 30px;
}
.help_paragraph:last-child {
  margin-bottom: 0;
}
.help_box {
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  color: #484848;
  padding: 10px;
}
@media screen and (min-width: 751px) {
  .help_box {
    margin: 10px;
  }
}
@media screen and (max-width: 750px) {
  .help_box {
    margin: 10px 0;
  }
}
