html {
  font-size: 6.25%;
}
body {
  background-color: #e4e4e4;
  font-family: sans-serif;
  font-size: 13rem;
}
body,
div,
th,
td,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
}
h1,
h2,
h3 {
  line-height: 1.5;
}
@media screen and (min-width: 751px) {
  h1 {
    font-size: 26rem;
  }
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: 22.099999999999998rem;
  }
}
@media screen and (min-width: 751px) {
  h2 {
    font-size: 19.5rem;
  }
}
@media screen and (max-width: 750px) {
  h2 {
    font-size: 16.900000000000002rem;
  }
}
@media screen and (min-width: 751px) {
  h3 {
    font-size: 15.6rem;
  }
}
@media screen and (max-width: 750px) {
  h3 {
    font-size: 14.3rem;
  }
}
p,
li {
  margin: 0;
  padding: 0;
  line-height: 1.7;
}
ul {
  margin-left: 1.5em;
}
a {
  color: #b71d1d;
}
select,
input {
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  vertical-align: bottom;
}
@media screen and (max-width: 750px) {
  select,
  input {
    height: 2em;
  }
}
input {
  padding: 2px;
}
@media screen and (max-width: 750px) {
  input {
    border-radius: 0;
  }
}
.bold {
  font-weight: bold;
}
.text-small {
  font-size: 0.8em;
}
.text-blue {
  color: #0b0bca;
}
.text-red {
  color: #d60909;
}
.ex-margin-top {
  margin-top: 10px;
}
.ex-margin-bottom {
  margin-bottom: 10px;
}
.wrapper {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
}
.box {
  background-color: #fff;
  border-radius: 5px;
  color: #484848;
  text-align: center;
}
@media screen and (min-width: 751px) {
  .box {
    padding: 20px 40px;
    width: 500px;
  }
}
@media screen and (max-width: 750px) {
  .box {
    padding: 20px;
    margin: 0 10px;
    width: 100%;
  }
}
h1 {
  margin-bottom: 30px;
}
p {
  margin-top: 20px;
}
.larger-text {
  background-color: #f5ece2;
  border: 1px dotted #b71d1d;
  box-shadow: 0 0 0 4px #f5ece2;
  font-size: 1.2em;
  padding: 15px 10px;
}

