@require '../../style/variables'

.BngoSlot
  background-color: $color-main-dark
  border: 1px solid $color-main-dark
  display: flex
  padding: 10px

  .BngoSlot_left
    flex: 0 1 30%

    &_order
      align-items: center
      background-color: $color-main-light
      border: 2px solid $color-sub
      border-radius: 20px
      box-sizing: border-box
      color: $color-main-dark
      display: flex
      font-size: 17rem
      font-weight: bold
      height: @border-radius * 2
      justify-content: center
      width: @border-radius * 2

    .BngoSlotInput
      margin-top: 15px

  .BngoSlot_right
    flex: 0 1 70%
