@require '../../style/variables'
@require '../../style/functions'

.BngoSlot
  background-color: $color-main-dark
  border: 1px solid $color-main-dark
  padding: 10px

  @media $pc
    display: flex

  @media $sp
    position: relative

  &_left
    @media $pc
      flex: 0 1 33%

    &_order
      align-items: center
      background-color: $color-main-light
      border: 2px solid $color-sub
      border-radius: 20px
      box-sizing: border-box
      color: $color-main-dark
      display: flex
      font-size: 17rem
      font-weight: bold
      height: @border-radius * 2
      justify-content: center
      width: @border-radius * 2

    .BngoSlotInput
      margin-top: 15px

  &_right
    @media $pc
      flex: 0 1 67%
