@require '../../style/variables'
@require '../../style/functions'
@require '../../style/mixins'

.BngoSlot
  background-color: $color-main-dark
  border: 1px solid $color-main-dark
  padding: 10px

  @media $pc
    display: flex

  @media $sp
    position: relative

  &_left
    @media $pc
      flex: 0 1 33%

    &_order
      num-badge()

      @media $sp
        display: none

    .BngoSlotInput
      margin-top: 15px

  &_right
    @media $pc
      flex: 0 1 67%
