<div class="BngoSlot">
  <div class="BngoSlot_form">
    <div class="BngoSlot_form_left">
      <div class="BngoSlot_form_left_order">{{ order || '' }}</div>
      <BngoSlotInput v-bind="{ order }"/>
    </div>
    <div class="BngoSlot_form_right">
      <BngoSlotDisplay
        v-bind="{ order, adjustedCardStatus, inputtedBattleStatus, finalBattleStatus, increasedBattleStatus }"/>
    </div>
  </div>
  <div class="BngoSlot_buttons">
    <button
      v-for="n in copyButtonsList"
      @click="copyStateTo(n)">
        スロット{{ n }}にコピー
    </button>
  </div>
</div>
