<div class="BngoSlot">
  <div class="BngoSlot_form">
    <div class="BngoSlot_form_left">
      <div class="BngoSlot_form_left_slotId">{{ slotId || '' }}</div>
      <BngoSlotInput v-bind="{ slotId }"/>
    </div>
    <div class="BngoSlot_form_right">
      <BngoSlotDisplay
        v-bind="{ slotId, adjustedCardStatus, inputtedBattleStatus, finalBattleStatus, increasedBattleStatus }"/>
    </div>
  </div>
  <div class="BngoSlot_buttons">
    <button
      v-for="n in copyButtonsList"
      :key="n"
      :ref="`copyTo${n}`"
      @click="copyStateTo(n)">
        スロット{{ n }}にコピー
    </button>
  </div>
</div>
