html
  font-size: 6.25%

body
  background-color: #e4e4e4
  font-family: sans-serif

  @media $pc
    font-size: $base-font-size

  @media $sp
    font-size: px2vw($base-font-size-sp)

body, div, th, td, ul, li, h1, h2, h3
  margin: 0
  padding: 0
  line-height: 1

h1, h2, h3
  line-height: 1.5

p, li
  margin: 0
  padding: 0
  line-height: 1.7

ul
  margin-left: 1.5em

a
  color: $color-link

select, input
  background-color: #fff
  border: 1px solid $color-gray-light
  box-sizing: border-box
  font-size: $base-font-size - 1rem
  vertical-align: bottom

input
  padding: 2px

.bold
  font-weight: bold

.text-small
  font-size: 0.8em

.text-blue
  color: $color-blue

.text-red
  color: $color-red

.ex-margin-top
  margin-top: 10px

.ex-margin-bottom
  margin-bottom: 10px
