@require 'variables'

num-badge()
  align-items: center
  background-color: $color-main-light
  border: 2px solid $color-sub
  border-radius: 20px
  box-sizing: border-box
  color: $color-main-dark
  display: flex
  font-size: 17rem
  font-weight: bold
  height: @border-radius * 2
  justify-content: center
  width: @border-radius * 2
