$sp-width = 750px
$sp = 'screen and (max-width: ' + $sp-width + ')'
$pc = 'screen and (min-width: ' + ($sp-max-width + 1) + ')'

$base-font-size = 13rem
$base-font-size-sp = 25px

$color-red = #d60909
$color-blue = #0b0bca
$color-gray = #484848
$color-gray-light = #ccc

$color-main-dark = #77544c
$color-main-light = #f5ece2
$color-sub = #c1a34e
$color-link = #b71d1d
